@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    width: 100%;
    max-width: 100%;
}
div,section,main {
    overflow: hidden;
}

form div{
    overflow: visible;
}
.ql-container {
    min-height: 200px;
}

.ql-editor *{
    all: revert;
}